<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SOFTWARE</title>
    <!-- Bootstrap Styles-->
    <link href="/style/bootstrap.css" rel="stylesheet"/>
    <!--<link href="style/bootstrap.css" rel="stylesheet"/>-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500"/>

    <!-- Morris Chart Styles-->

    <!-- Custom Styles-->
    <link href="/style/custom-styles.css" rel="stylesheet"/>
    <!--<link href="style/custom-styles.css" rel="stylesheet"/>-->
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <!-- TABLE STYLES-->
    <link href="/javascript/dataTables/dataTables.bootstrap.css" rel="stylesheet"/>
    <!--<link href="javascript/dataTables/dataTables.bootstrap.css" rel="stylesheet"/>-->
    <link href="http://www.bootcss.com/p/buttons/css/buttons.css" rel="stylesheet"/>

    <link href="/style/font-awesome.css" rel="stylesheet"/>
    <!--<link href="style/font-awesome.css" rel="stylesheet"/>-->

    <!--datePicker-->

    <script src="/javascript/jquery-1.11.1.min.js"></script>
    <!--<script src="javascript/jquery-1.11.1.min.js"></script>-->

    <!--datePicker-->
    <script src="/javascript/jquery-ui.js"></script>
    <!--<script src="javascript/jquery-ui.js"></script>-->

    <script src="/javascript/jquery.backstretch.min.js"></script>
    <!--<script src="javascript/jquery.backstretch.min.js"></script>-->
    <script src="/javascript/scripts.js"></script>
    <!--<script src="javascript/scripts.js"></script>-->

    <!-- Bootstrap Js -->
    <script src="/javascript/bootstrap.min.js"></script>
    <!--<script src="javascript/bootstrap.min.js"></script>-->
    <!-- Metis Menu Js -->
    <script src="/javascript/jquery.metisMenu.js"></script>
    <!--<script src="javascript/jquery.metisMenu.js"></script>-->

    <!-- DATA TABLE SCRIPTS -->
    <script src="/javascript/jquery.dataTables.js"></script>
    <!--<script src="javascript/jquery.dataTables.js"></script>-->
    <script src="/javascript/dataTables.bootstrap.js"></script>
    <!--<script src="javascript/dataTables.bootstrap.js"></script>-->

    <script src="/javascript/custom-scripts.js"></script>
    <!--<script src="javascript/custom-scripts.js"></script>-->

    <!--<script src="/javascript/jquery-1.11.1.min.js"></script>-->
    <script src="/javascript/bootstrap-table.min.js"></script>
    <!--<script src="javascript/bootstrap-table.min.js"></script>-->
    <script src="/javascript/bootstrap-table-zh-CN.js"></script>
    <!--<script src="javascript/bootstrap-table-zh-CN.js"></script>-->

    <style>
        .fixed-table-body {
            overflow-x: auto;
            overflow-y: scroll;
            height: 35em;
            width: 100%;
        }

        .fixed-table-header {
            margin-right: 0 !important;

            overflow-x: auto;
            clear:both;
        }

        /*table tbody {*/
        /*display:block;*/
        /*height:30em;*/
        /*overflow-y:scroll;*/
        /*}*/
        /*table thead, tbody tr {*/
        /*display:table;*/
        /*width:100%;*/
        /*table-layout:fixed;*/
        /*}*/
        /*table thead {*/
        /*width: calc( 100% - 1em )*/
        /*}*/
        table thead th{
            background:#275AB2;
        }
        thead{
            color:#FFFFFF;
        }

        .navbar-brand-right_{
            float:right;
        }

        .center-vertical {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        .table th, .table td {
            text-align: center;
            vertical-align: middle !important;
        }

        th{
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        .search{
            padding-bottom: 1em;
        }

        .W180{width:180px;}
        .W150{width:150px;}
        .W150 {width:100px !important;}
        .W280{width:280px !important;}
        .W400{width:400px !important;}
        .W100 {width:100px !important;}
        .W30 {width:30px !important;}
    </style>
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <ul class="nav navbar-top-links navbar-brand-right_">
            <li><a href="#" id="logout"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
        </ul>
    </nav>
    <!--/. NAV TOP  -->

    <div id="nave_side">

    </div>

    <!--加载侧栏菜单-->
    <script>
        loadMenu();
    </script>

    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header" style="color: #FFFFFF;">
                        配置
                    </h1>
                </div>
            </div>
            <!-- /. ROW  -->

            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-body" style="height: 45em;">
                            <div class="table-responsive">

                                <form class="form-horizontal form-profile-save" method="post" style="margin-top: 20px">
                                    <fieldset>

                                        <div class="form-group">
                                            <label for="temperature_upper_limit" class="col-sm-3 control-label">温度上限</label>
                                            <div class="col-sm-5 form-inline">
                                                <input type="number" class="form-control" id="temperature_upper_limit" name="temperatureUpperLimit" maxlength="30" required="required" />°C
                                            </div>
                                            <div class="col-sm-4"></div>
                                        </div>

                                        <div class="form-group">
                                            <label for="temperature_lower_limit" class="col-sm-3 control-label">温度下限</label>
                                            <div class="col-sm-5 form-inline">
                                                <input type="number" class="form-control" id="temperature_lower_limit" name="temperatureLowerLimit" maxlength="30" required="required" />°C
                                            </div>
                                            <div class="col-sm-4"></div>
                                        </div>

                                        <div class="form-group">
                                            <label for="humidity_upper_limit" class="col-sm-3 control-label">湿度上限</label>
                                            <div class="col-sm-5 form-inline">
                                                <input type="number" class="form-control" id="humidity_upper_limit" name="humidityUpperLimit" maxlength="30" required="required" />%RH
                                            </div>
                                            <div class="col-sm-4"></div>
                                        </div>

                                        <div class="form-group">
                                            <label for="temperature_lower_limit" class="col-sm-3 control-label">湿度下限</label>
                                            <div class="col-sm-5 form-inline">
                                                <input type="number" class="form-control" id="humidity_lower_limit" name="humidityLowerLimit" maxlength="30" required="required" />%RH
                                            </div>
                                            <div class="col-sm-4"></div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-3"></div>
                                            <div class="col-sm-5">
                                                <button type="button" class="btn btn-primary save-profile">保存</button>
                                            </div>
                                            <div class="col-sm-4"></div>
                                        </div>


                                    </fieldset>
                                </form>

                            </div>
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
            <!-- /. ROW  -->
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>y

<!--//弹出框-->
<!--增加，修改-->
<div id="dialog-user-management-update" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">设备信息  | <span id="dialog-user-management-update-title"></span></h4>
            </div>
            <div class="modal-body">
                <form role="form" class="form-horizontal add-new-user" method="POST">
                    <input type="text" style="display:none;" id="id" name="id" />
                    <input type="text" style="display:none;" id="version" name="version" />
                    <div class="form-group">
                        <label for="username" class="col-sm-4 control-label">设备名称</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="username" name="username" data-toggle="tooltip" data-placement="top" maxlength="30" required="required" />
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group">
                        <label for="firstName" class="col-sm-4 control-label">类型</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="firstName" name="firstName" maxlength="30" />
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="col-sm-4 control-label">等级</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="lastName" name="lastName" maxlength="30" />
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-4 control-label">灯开关状态</label>
                        <div class="col-sm-7">
                            <input type="email" class="form-control" id="email" name="email" data-toggle="tooltip" data-placement="top" maxlength="200" placeholder="e.g john@example.com" />
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-4 control-label">密码</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="password" name="password" data-toggle="tooltip" maxlength="20" data-placement="bottom" required="required" />
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword" class="col-sm-4 control-label">确认密码</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="confirmPassword" name="confirmPassword" maxlength="20" required="required" />
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group">
                        <label for="role" class="col-sm-4 control-label">级别</label>
                        <div class="col-sm-7">
                            <select id="role" name="role" class="form-control" required="required">
                                <option value="S">S - Supplier</option>
                                <option value="A">A - Admin</option>
                                <option value="C">C - Customer</option>
                                <option value="PM">PM - Project Management</option>
                            </select>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group">
                        <label for="enabled" class="col-sm-4 control-label" data-formatter="_formatted_select">是否启用</label>
                        <div class="col-sm-7">
                            <select id="enabled" name="enabled" class="form-control" required="required">
                                <option value="True">是</option>
                                <option value="False">否</option>
                            </select>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9" style="text-align: right;padding-top: 20px;">
                            <button type="button" class="btn btn-primary add-new-user">保存</button>
                            <button type="button" class="btn btn-default add-new-user-close" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="dialog-return" class="modal fade" style="z-index:99999" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">提示</h4>
            </div>
            <div class="modal-body"></div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mySmallModalLabel0">提示</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer modal-footer-delete-confirm" style="display:none;">
                <button type="button" class="btn btn-danger btn-task-delete-confirm" data-dismiss="modal">确认</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade log-out-bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="log-out-mySmallModalLabel">提示</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer modal-footer-delete-confirm" style="display:none;">
                <button type="button" class="btn btn-danger btn-logout" data-dismiss="modal">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Custom Js -->
<script>
    $(document).ready(function() {
        $.ajax({
            url: "/console/config_management/getConfig",
            type: "get",
            processData: false,
            contentType: false,
            success : function(res){
                switch (res.status){
                    case "SUCCEED":


                        $("#temperature_upper_limit").val(res.temperatureUpperLimit);
                        $("#temperature_lower_limit").val(res.temperatureLowerLimit);
                        $("#humidity_upper_limit").val(res.humidityUpperLimit);
                        $("#humidity_lower_limit").val(res.humidityLowerLimit);

                        break;
                    case "FAILED":
                        $(".save-profile").disable = "disable";

                        $("#dialog-return").find(".modal-body").html("获取配置信息失败,请刷新页面重试");
                        $("#dialog-return").modal("show");

                        break;
                }
            },
            fail : function(res){
                $(".save-profile").disable = "disable";

                $("#dialog-return").find(".modal-body").html("获取配置信息失败,请刷新页面重试");
                $("#dialog-return").modal("show");
            }
        });
    });
</script>

<script>
    !function ($) {
        $(document).on("click","ul.nav li.parent > a > span.icon", function(){
            $(this).find('em:first').toggleClass("glyphicon-minus");
        });
        $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
    }(window.jQuery);

    $(window).on('resize', function () {
        if ($(window).width() > 768) $('#sidebar-collapse').collapse('show');
        else $('#sidebar-collapse').collapse('hide');

    });


    $("#logout").click(function () {
        $(".log-out-bs-example-modal-sm").find(".modal-body").html("确认退出系统？");
        $(".log-out-bs-example-modal-sm").find(".modal-footer-delete-confirm").css("display", "");
        $(".log-out-bs-example-modal-sm").modal("show");
    });

    $(".btn.btn-danger.btn-logout").click(function () {
        window.location.href = "/logout";
    })

    function _set(el, message) {
        el.addClass("alert-danger");
        el.attr("title", message);
        el.tooltip('show');
    }

    function _reset_input(input) {
        input.removeClass("alert-danger");
        input.tooltip('destroy');
    }


    $(".save-profile").click(function() {
        _reset_input($("#dialog-user-management-update").find(".form-group").find("input"));

        var temperature_upper_limit = $("#temperature_upper_limit").val();
        var temperature_lower_limit = $("#temperature_lower_limit").val();
        var humidity_upper_limit = $("#humidity_upper_limit").val();
        var humidity_lower_limit = $("#humidity_lower_limit").val();

        if( parseFloat(temperature_lower_limit) >= parseFloat( temperature_upper_limit ) ){
            _set($("input[id='temperature_upper_limit']"), "温度下限不能高于温度上限");
            _set($("input[id='temperature_lower_limit']"), "温度下限不能高于温度上限");

            return;
        }

        if( parseFloat(humidity_lower_limit) >= parseFloat( humidity_upper_limit ) ){
            _set($("input[id='humidity_upper_limit']"), "湿度下限不能高于湿度上限");
            _set($("input[id='humidity_lower_limit']"), "湿度下限不能高于湿度上限");

            return;
        }

        var data = $(".form-horizontal").serializeArray();
        $.post("/console/config_management/save", data, function (r, status) {
            switch (r.status) {
                case "SUCCEED" :
                    $("#dialog-return").find(".modal-body").html("修改成功")
                    $("#dialog-return").modal("show");

                    break

                case "FAILED" :
                    $("#dialog-return").find(".modal-body").html("修改失败")
                    $("#dialog-return").modal("show");

                    break;
            }
        });
    });

    $(".btn.btn-danger.delete-employee-dialog").click(function (){
        var selectedBox = $("input[name='user_id']:checked");

        var id = new Array();

        for(var i = 0; i < selectedBox.length; i++){
            id.push(selectedBox[i].value);
        }

        if (id.length > 0) {
            // 读取Project选中的用户信息
            $(".bs-example-modal-sm").find(".modal-body").html("是否删除用户?</br>");

            for(var i = 0; i < id.length; i++){
                $(".bs-example-modal-sm").find(".modal-body").append("</br>"+contactsNameMap.get( parseInt(id[i]) ));
            }

            $(".bs-example-modal-sm").find(".modal-footer-delete-confirm").css("display", "");
            $(".bs-example-modal-sm").modal("show");
        } else {
            $("#dialog-return").find(".modal-body").html("请选中用户后操作");
            $("#dialog-return").modal("show");
        }
        //
        // console.log('clicked the delete');
        //
        // var id = $("input[type='radio']:checked").val();
        //
        // var list_id = new Array();
        //
        // list_id[0] = (id);
        //
        // console.log(list_id);
        //
        // var form = new FormData();
        //
        // form.append("list_ID", list_id);
        //
        // $.ajax({
        //     url: "/console/user_management/delete",
        //     type: "post",
        //     data: form,
        //     processData: false,
        //     contentType: false,
        //     success: function (r) {
        //         switch (r.status){
        //             case "SUCCEED" :
        //                 $(".bs-example-modal-sm").find(".modal-body").html(
        //                     $("#dialog-user-management-update-title").html() + " succeeded."
        //                 );
        //                 $(".bs-example-modal-sm").modal("show");
        //                 $(".btn.btn-default.add-new-user-close").click();
        //                 $(".panel.panel-default").find("button[name='refresh']").click();
        //
        //                 break
        //
        //             case "FAILED" :
        //                 $("#dialog-user-management-update").find(".modal-body").html("删除失败");
        //                 $("#dialog-user-management-update").modal("show");
        //
        //                 break
        //         }
        //     },
        //     error: function (r) {
        //
        //         $("#dialog-return").find(".modal-body").html("Oh snap! System handling failure.");
        //         $("#dialog-return").modal("show");
        //     }
        //
        // });
    })

    $(".btn.btn-danger.btn-task-delete-confirm").click(function () {
        console.log('clicked the delete');

        var id = $("input[type='radio']:checked").val();

        var list_id = new Array();

        list_id[0] = (id);

        console.log(list_id);

        var form = new FormData();

        form.append("list_ID", list_id);

        $.ajax({
            url: "/console/user_management/delete",
            timeout : timeout_network,
            type: "post",
            data: form,
            processData: false,
            contentType: false,
            success: function (r) {
                switch (r.status){
                    case "SUCCEED" :
                        $("#dialog-return").find(".modal-body").html("删除成功");
                        $("#dialog-return").modal("show");

                        $(".btn.btn-default.add-new-user-close").click();
                        $(".panel.panel-default").find("button[name='refresh']").click();

                        break

                    case "FAILED" :
                        $("#dialog-return").find(".modal-body").html("删除失败");
                        $("#dialog-return").modal("show");

                        $(".btn.btn-default.add-new-user-close").click();

                        $(".panel.panel-default").find("button[name='refresh']").click();

                        break
                }
            },
            error: function (r) {

                $("#dialog-return").find(".modal-body").html("网络错误");
                $("#dialog-return").modal("show");

                $(".panel.panel-default").find("button[name='refresh']").click();

            }

        });
    });


</script>

</body>
</html>
