<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SOFTWARE</title>
    <!-- Bootstrap Styles-->
    <link href="/style/bootstrap.css" rel="stylesheet"/>
    <!--<link href="style/bootstrap.css" rel="stylesheet"/>-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500"/>

    <!-- Morris Chart Styles-->

    <!-- Custom Styles-->
    <link href="/style/custom-styles.css" rel="stylesheet"/>
    <!--<link href="style/custom-styles.css" rel="stylesheet"/>-->
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <!-- TABLE STYLES-->
    <link href="/javascript/dataTables/dataTables.bootstrap.css" rel="stylesheet"/>
    <!--<link href="javascript/dataTables/dataTables.bootstrap.css" rel="stylesheet"/>-->
    <link href="http://www.bootcss.com/p/buttons/css/buttons.css" rel="stylesheet"/>

    <link href="/style/font-awesome.css" rel="stylesheet"/>
    <!--<link href="style/font-awesome.css" rel="stylesheet"/>-->

    <!--datePicker-->

    <script src="/javascript/jquery-1.11.1.min.js"></script>
    <!--<script src="javascript/jquery-1.11.1.min.js"></script>-->

    <!--datePicker-->
    <script src="/javascript/jquery-ui.js"></script>
    <!--<script src="javascript/jquery-ui.js"></script>-->

    <script src="/javascript/jquery.backstretch.min.js"></script>
    <!--<script src="javascript/jquery.backstretch.min.js"></script>-->
    <script src="/javascript/scripts.js"></script>
    <!--<script src="javascript/scripts.js"></script>-->

    <!-- Bootstrap Js -->
    <script src="/javascript/bootstrap.min.js"></script>
    <!--<script src="javascript/bootstrap.min.js"></script>-->
    <!-- Metis Menu Js -->
    <script src="/javascript/jquery.metisMenu.js"></script>
    <!--<script src="javascript/jquery.metisMenu.js"></script>-->

    <!-- DATA TABLE SCRIPTS -->
    <script src="/javascript/jquery.dataTables.js"></script>
    <!--<script src="javascript/jquery.dataTables.js"></script>-->
    <script src="/javascript/dataTables.bootstrap.js"></script>
    <!--<script src="javascript/dataTables.bootstrap.js"></script>-->

    <script src="/javascript/custom-scripts.js"></script>
    <!--<script src="javascript/custom-scripts.js"></script>-->

    <!--<script src="/javascript/jquery-1.11.1.min.js"></script>-->
    <script src="/javascript/bootstrap-table.min.js"></script>
    <!--<script src="javascript/bootstrap-table.min.js"></script>-->
    <script src="/javascript/bootstrap-table-zh-CN.js"></script>
    <!--<script src="javascript/bootstrap-table-zh-CN.js"></script>-->



    <style>
        .fixed-table-body {
            overflow-x: auto;
            overflow-y: scroll;
            height: 35em;
            width: 100%;
        }

        .fixed-table-header {
            margin-right: 0 !important;

            overflow-x: auto;
            clear:both;
        }

        /*table tbody {*/
            /*display:block;*/
            /*height:30em;*/
            /*overflow-y:scroll;*/
        /*}*/
        /*table thead, tbody tr {*/
            /*display:table;*/
            /*width:100%;*/
            /*table-layout:fixed;*/
        /*}*/
        /*table thead {*/
            /*width: calc( 100% - 1em )*/
        /*}*/
        table thead th{
            background:#275AB2;
        }
        thead{
            color:#FFFFFF;
        }

        .navbar-brand-right_{
            float:right;
        }

        .center-vertical {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        .table th, .table td {
            text-align: center;
            vertical-align: middle !important;
        }

        th{
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        .search{
            padding-bottom: 1em;
        }

        .W180{width:180px;}
        .W150{width:150px;}
        .W150 {width:100px !important;}
        .W280{width:280px !important;}
        .W400{width:400px !important;}
        .W100 {width:100px !important;}
        .W30 {width:30px !important;}
    </style>
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <ul class="nav navbar-top-links navbar-brand-right_">
            <li><a href="#" id="logout"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
        </ul>

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" > <strong> &nbsp &nbsp &nbsp SOFTWARE</strong></a>
        </div>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <!--管理员信息-->
                <li>
                    <div style="display: table; width: auto; margin-left: auto;margin-right: auto">

                        <img src="/style/images/avtar.png">

                        <!--<div>-->
                        <!--<label id="adminName" style="alignment: center"></label>-->
                        <!--</div>-->

                        <!--<div>-->
                        <!--<label id="adminEmail" style="alignment: center"></label>-->
                        <!--</div>-->
                    </div>
                    <br>
                </li>

                <!--设备信息-->
                <li>
                    <a class="active-menu" href="/console/device_info"><i class="fa fa-sitemap"></i> 设备信息<span class="fa arrow"></span></a>
                </li>

                <!--设备信息-->
                <li>
                    <a href="/console/device_management"><i class="fa fa-sitemap"></i> 设备管理<span class="fa arrow"></span></a>
                </li>

                <!--配置-->
                <li>
                    <a href="/console/config"><i class="fa fa-sitemap"></i> 配置<span class="fa arrow"></span></a>
                </li>



            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header" style="color: #FFFFFF;">
                        设备信息页
                    </h1>
                </div>
            </div>
            <!-- /. ROW  -->

            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="_table_user_search"  data-sort-name="stargazers_count"
                                       data-sort-order="asc" data-toolbar="#toolbar"
                                       class="table table-striped table-bordered table-hover">

                                    <thead>
                                    <tr>
                                        <th data-field="imei_id" class="W30" data-align="center">设备id</th>
                                        <th data-field="name" class="W100" data-formatter="_formatte_device_name">设备名称</th>
                                        <th data-field="type" class="W100">类型</th>
                                        <th data-field="level" class="W100">等级</th>
                                        <th data-field="statusOfLight" class="W100" data-formatter="_formatter_light">灯开关状态</th>
                                        <th data-field="statusOfCharge" class="W100" data-formatter="_formatter_charge">电池电量</th>
                                        <th data-field="temperature" data-sortable="true" class="W100" data-formatter="_formatter_temperature">温度</th>
                                        <th data-field="humidity" data-sortable="true" class="W100" data-formatter="_formatter_humidity">湿度</th>
                                        <th data-field="updateTime" class="W100">更新时间</th>
                                    </tr>
                                    </thead>

                                </table>

                                <div id="toolbar">
                                    <button class="btn btn-primary searchAbnormalDevices" data-toggle="modal">查看不正常设备</button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
            <!-- /. ROW  -->
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>y

<!--//弹出框-->
<!--增加，修改-->
<div id="dialog-user-management-update" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">设备信息  | <span id="dialog-user-management-update-title"></span></h4>
            </div>
            <div class="modal-body">
                <form role="form" class="form-horizontal add-new-user" method="POST">
                    <input type="text" style="display:none;" id="id" name="id" />
                    <input type="text" style="display:none;" id="version" name="version" />
                    <div class="form-group">
                        <label for="username" class="col-sm-4 control-label">设备名称</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="username" name="username" data-toggle="tooltip" data-placement="top" maxlength="30" required="required" />
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group">
                        <label for="firstName" class="col-sm-4 control-label">类型</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="firstName" name="firstName" maxlength="30" />
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="col-sm-4 control-label">等级</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="lastName" name="lastName" maxlength="30" />
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-4 control-label">灯开关状态</label>
                        <div class="col-sm-7">
                            <input type="email" class="form-control" id="email" name="email" data-toggle="tooltip" data-placement="top" maxlength="200" placeholder="e.g john@example.com" />
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-4 control-label">密码</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="password" name="password" data-toggle="tooltip" maxlength="20" data-placement="bottom" required="required" />
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword" class="col-sm-4 control-label">确认密码</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="confirmPassword" name="confirmPassword" maxlength="20" required="required" />
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group">
                        <label for="role" class="col-sm-4 control-label">级别</label>
                        <div class="col-sm-7">
                            <select id="role" name="role" class="form-control" required="required">
                                <option value="S">S - Supplier</option>
                                <option value="A">A - Admin</option>
                                <option value="C">C - Customer</option>
                                <option value="PM">PM - Project Management</option>
                            </select>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group">
                        <label for="enabled" class="col-sm-4 control-label" data-formatter="_formatted_select">是否启用</label>
                        <div class="col-sm-7">
                            <select id="enabled" name="enabled" class="form-control" required="required">
                                <option value="True">是</option>
                                <option value="False">否</option>
                            </select>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9" style="text-align: right;padding-top: 20px;">
                            <button type="button" class="btn btn-primary add-new-user">保存</button>
                            <button type="button" class="btn btn-default add-new-user-close" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="dialog-return" class="modal fade" style="z-index:99999" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">提示</h4>
            </div>
            <div class="modal-body"></div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mySmallModalLabel0">提示</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer modal-footer-delete-confirm" style="display:none;">
                <button type="button" class="btn btn-danger btn-task-delete-confirm" data-dismiss="modal">确认</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade log-out-bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="log-out-mySmallModalLabel">提示</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer modal-footer-delete-confirm" style="display:none;">
                <button type="button" class="btn btn-danger btn-logout" data-dismiss="modal">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    var timeout_network = 3000;

    var contactsNameMap;

    var isNormal = true;

    !function ($) {
        $(document).on("click","ul.nav li.parent > a > span.icon", function(){
            $(this).find('em:first').toggleClass("glyphicon-minus");
        });
        $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
    }(window.jQuery);

    $(window).on('resize', function () {
        if ($(window).width() > 768) $('#sidebar-collapse').collapse('show');
        else $('#sidebar-collapse').collapse('hide');

        adjustTableHeight($(".fixed-table-body"),20);
    });

    $(document).ready(function() {
        $('#_table_user_search').bootstrapTable({
            method: 'get',
            url: "/console/deviceInfo/searchAll",
            striped: true,
            height:300,
            dataType: "json",
            pagination: true,
            queryParamsType: "limit",
            singleSelect: true,
            contentType: "application/x-www-form-urlencoded",
            pageSize: 10,
            pageNumber: 1,
            search: true,
            showColumns: true,
            showRefresh: true,
            sidePagination: "server", //服务端请求
            queryParams: function (params) {
                console.log("dddd");
                return {
                    limit: params.limit,
                    offset: params.offset / params.limit,
                    search: $(".search").find("input").val(),
                    sort: params.sort,
                    order: params.order,
                    isNormal:isNormal
                };
            },
            responseHandler: function (res) {
                $("#doAllCheckBtn").checked != $("#doAllCheckBtn").checked;

                doallcheck();

                return {
                    "rows": res.rows,
                    "total": res.total
                };
            },
            onPostHeader : function(){
                //adjustTableHeight($(".fixed-table-body"),20);//custom-script
            }
        });
    });

    $(".searchAbnormalDevices").click(function(){
        isNormal = !isNormal;

        $(".searchAbnormalDevices").text( isNormal? "查看不正常设备" : "查看正常设备" )

        $('#_table_user_search').bootstrapTable("refresh");
    });

    function doallcheck(e){
        var list = $("input[name='user_id']");

        for(i in list){
            list[i].checked = !list[i].checked;
        }
    }

    function _formatte_user_id(value, row, index) {
        if(index == 0){
            contactsNameMap = new Map();
        }

        contactsNameMap.set(value,row.username);

        return '<input name="user_id" type="checkbox" value="' + value + '" />';
    }

    function _formatted_select(value, row, index) {
        return $.trim(value) ==$.trim('true') ? "是":"否" ;
    }

    // function _formatted_Time(value, row, index){
    //     return getFormmattedTime(value)
    // }

    function _reset(from) {
        from[0].reset();
        _reset_input(from.find("input"));
    }

    function _reset_input(input) {
        input.removeClass("alert-danger");
        input.tooltip('destroy');
    }

    function _set(el, message) {
        el.addClass("alert-danger");
        el.attr("title", message);
        el.tooltip('show');
    }

    $("#logout").click(function () {
        $(".log-out-bs-example-modal-sm").find(".modal-body").html("确认退出系统？");
        $(".log-out-bs-example-modal-sm").find(".modal-footer-delete-confirm").css("display", "");
        $(".log-out-bs-example-modal-sm").modal("show");
    });

    $(".btn.btn-danger.btn-logout").click(function () {
        window.location.href = "/logout";
    })

    $(".btn.btn-primary.open-add-new-user-dialog").click(function() {
        window.flag = 'add';

        _reset($(".form-horizontal.add-new-user"));
        $("#dialog-user-management-update-title").html("增加");
        $("#dialog-user-management-update").modal("show");
    });

    $(".btn.btn-success.open-update-use-dialog").click(function() {
        window.flag = 'update';


        var id = new Array();

        var selectedBox = $("input[name='user_id']:checked");

        for(var i = 0; i < selectedBox.length; i++){
            id.push( selectedBox[i].value );

            if(id.length > 2){
                break;
            }
        }
        if ( id.length != 0 ) {
            if(id.length > 1){
                $("#dialog-return").find(".modal-body").html("请选择一个用户");
                $("#dialog-return").modal("show");

                return ;
            }

            _reset($(".form-horizontal.add-new-user"));
            // 读取用户选中的用户信息
            $.get("/console/user_management/get/" + id, null, function(r, status) {
                $("#dialog-user-management-update").find("input[id='id']").val(r.id);
                $("#dialog-user-management-update").find("input[id='version']").val(r.version);
                $("#dialog-user-management-update").find("input[id='username']").val(r.username);
                $("#dialog-user-management-update").find("input[id='firstName']").val(r.firstName);
                $("#dialog-user-management-update").find("input[id='lastName']").val(r.lastName);
                $("#dialog-user-management-update").find("input[id='email']").val(r.email);
                $("#dialog-user-management-update").find("select[id='role']").val(r.role);
                $("#dialog-user-management-update").find("select[id='enabled']").val(r.enabled ? "True" : "False");

                $("#dialog-user-management-update-title").html("修改");
                $("#dialog-user-management-update").modal("show");
            });
        } else {
            $("#dialog-return").find(".modal-body").html("请选中用户后操作");
            $("#dialog-return").modal("show");
        }
    });

    $(".btn.btn-primary.add-new-user").click(function() {
        var isComplete = true;
        var isFormatted = true;

        //check input
        if($("input[id='username']").val() == ""){
            _set($("input[id='username']"), "请输入用户名");
            isComplete = false;
        }
        if($("input[id='firstName']").val() == ""){
            _set($("input[id='firstName']"), "请输入姓");
            isComplete = false;
        }
        if($("input[id='lastName']").val() == ""){
            _set($("input[id='lastName']"), "请输入名");
            isComplete = false;
        }
        if($("input[id='email']").val() ==""){
            _set($("input[id='email']"), "请输入邮箱地址");
            isComplete = false;
        }

        if($("input[id='password']").val() ==""){
            _set($("input[id='password']"), "请输入密码");
            isComplete = false;
        }
        if($("input[id='confirmPassword']").val() ==""){
            _set($("input[id='confirmPassword']"), "请确认密码");
            isComplete = false;
        }

        if(isComplete) {
            _reset_input($("#dialog-user-management-update").find(".form-group").find("input"));

            if (!isName($("input[id='username']").val())) {
                isFormatted = false;

                _set($("input[id='username']"), "请输入包含中文，英文，数字和-的名字");
            }

            if (!isName($("input[id='firstName']").val())) {
                isFormatted = false;

                _set($("input[id='firstName']"), "请输入包含中文，英文，数字和-的名字");
            }

            if (!isName($("input[id='lastName']").val())) {
                isFormatted = false;

                _set($("input[id='lastName']"), "请输入包含中文，英文，数字和-的名字");
            }

            if (!isEmail($("input[id='email']").val())) {
                isFormatted = false;

                _set($("input[id='email']"), "请输入合法邮箱");
            }

            var pass = $("input[id='password']").val();
            var pass_confirm = $("input[id='confirmPassword']").val()
            if (pass != pass_confirm) {
                isFormatted = false;

                _set($("input[id='password']"), "两次密码输入不一致");
                _set($("input[id='confirmPassword']"), "两次密码输入不一致");
            }//确认密码一致

            if (isFormatted) {

                var data = $(".form-horizontal.add-new-user").serializeArray();
                $.post("/console/user_management/save", data, function (r, status) {
                    switch (r.status) {
                        case "SUCCEED" :
                            var message = "";

                            message = window.flag=='add' ? '增加成功' : '修改成功';

                            $("#dialog-return").find(".modal-body").html(message)
                            $("#dialog-return").modal("show");

                            $(".btn.btn-default.add-new-user-close").click();
                            $(".panel.panel-default").find("button[name='refresh']").click();


                            // $("#dialog-user-management-update").find(".modal-body").html("新增成功");
                            // $("#dialog-user-management-update").modal("show");
                            //
                            // $(".panel.panel-default").find("button[name='refresh']").click();

                            break

                        case "FAILED" :
                            var inputError = false;

                            var message = "";

                            message = window.flag=='add' ? '增加失败' : '修改失败';

                            if(r.message != undefined) {
                                var checkIsExist = true;

                                if(r.message.username != undefined){
                                    _reset_input( $("input[id='username']") );
                                    _set($("input[id='username']"), "用户名已存在，请重新输入");

                                    checkIsExist = false;
                                }

                                if(r.message.email != undefined){
                                    _reset_input( $("input[id='email']") );
                                    _set( $("input[id='email']"), "邮箱已存在，请重新输入" );

                                    checkIsExist = false;
                                }

                                if(!checkIsExcit){
                                    return ;
                                }


                                $("#dialog-return").find(".modal-body").html(r.message.message)
                                $("#dialog-return").modal("show");
                            }


                            break
                    }


                    // if (r.status == "SUCCEED") {
                    //     $(".bs-example-modal-sm").find(".modal-body").html(
                    //         $("#dialog-user-management-update-title").html() + " succeeded."
                    //     );
                    //     $(".bs-example-modal-sm").modal("show");
                    //     $(".btn.btn-default.add-new-user-close").click();
                    //     $(".panel.panel-default").find("button[name='refresh']").click();
                    //     // location.reload();
                    // } else {
                    //     if (r.message.username) {
                    //         _set($(".form-horizontal.add-new-user").find("input[id='username']"), r.message.username);
                    //     }
                    //     if (r.message.email) {
                    //         _set($(".form-horizontal.add-new-user").find("input[id='email']"), r.message.email);
                    //     }
                    //     if (r.message.password) {
                    //         _set($(".form-horizontal.add-new-user").find("input[id='password']"), r.message.password);
                    //     }
                    //     if (r.message.firstName) {
                    //         _set($(".form-horizontal.add-new-user").find("input[id='firstName']"), r.message.firstName);
                    //     }
                    //     if (r.message.lastName) {
                    //         _set($(".form-horizontal.add-new-user").find("input[id='lastName']"), r.message.lastName);
                    //     }
                    //     if (r.message.WARNING) {
                    //         $(".bs-example-modal-sm").find(".modal-body").html(r.message.WARNING);
                    //         $(".bs-example-modal-sm").modal("show");
                    //     }
                    // }

                });
            }
        }
    });

    function isName(val){//包括中文和英文数字-
        var reg = /^([\u4E00-\uFA29]|[\uE7C7-\uE7F3]|[a-zA-Z0-9_-]){1,20}$/;

        return reg.test(val);
    }

    function isEmail(val){
        var myreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
        return myreg.test(val);
    }

    function _formatte_device_name(value, row, index) {
        return '<a href="/console/device_info_detail?deviceId=' + row.deviceId +'">'+value+'</a>';
    }

    $(".btn.btn-danger.delete-employee-dialog").click(function (){
        var selectedBox = $("input[name='user_id']:checked");

        var id = new Array();

        for(var i = 0; i < selectedBox.length; i++){
            id.push(selectedBox[i].value);
        }

        if (id.length > 0) {
            // 读取Project选中的用户信息
            $(".bs-example-modal-sm").find(".modal-body").html("是否删除用户?</br>");

            for(var i = 0; i < id.length; i++){
                $(".bs-example-modal-sm").find(".modal-body").append("</br>"+contactsNameMap.get( parseInt(id[i]) ));
            }

            $(".bs-example-modal-sm").find(".modal-footer-delete-confirm").css("display", "");
            $(".bs-example-modal-sm").modal("show");
        } else {
            $("#dialog-return").find(".modal-body").html("请选中用户后操作");
            $("#dialog-return").modal("show");
        }
        //
        // console.log('clicked the delete');
        //
        // var id = $("input[type='radio']:checked").val();
        //
        // var list_id = new Array();
        //
        // list_id[0] = (id);
        //
        // console.log(list_id);
        //
        // var form = new FormData();
        //
        // form.append("list_ID", list_id);
        //
        // $.ajax({
        //     url: "/console/user_management/delete",
        //     type: "post",
        //     data: form,
        //     processData: false,
        //     contentType: false,
        //     success: function (r) {
        //         switch (r.status){
        //             case "SUCCEED" :
        //                 $(".bs-example-modal-sm").find(".modal-body").html(
        //                     $("#dialog-user-management-update-title").html() + " succeeded."
        //                 );
        //                 $(".bs-example-modal-sm").modal("show");
        //                 $(".btn.btn-default.add-new-user-close").click();
        //                 $(".panel.panel-default").find("button[name='refresh']").click();
        //
        //                 break
        //
        //             case "FAILED" :
        //                 $("#dialog-user-management-update").find(".modal-body").html("删除失败");
        //                 $("#dialog-user-management-update").modal("show");
        //
        //                 break
        //         }
        //     },
        //     error: function (r) {
        //
        //         $("#dialog-return").find(".modal-body").html("Oh snap! System handling failure.");
        //         $("#dialog-return").modal("show");
        //     }
        //
        // });
    })

    $(".btn.btn-danger.btn-task-delete-confirm").click(function () {
        console.log('clicked the delete');

        var id = $("input[type='radio']:checked").val();

        var list_id = new Array();

        list_id[0] = (id);

        console.log(list_id);

        var form = new FormData();

        form.append("list_ID", list_id);

        $.ajax({
                url: "/console/user_management/delete",
                timeout : timeout_network,
                type: "post",
                data: form,
                processData: false,
                contentType: false,
                success: function (r) {
                    switch (r.status){
                        case "SUCCEED" :
                            $("#dialog-return").find(".modal-body").html("删除成功");
                            $("#dialog-return").modal("show");

                            $(".btn.btn-default.add-new-user-close").click();
                            $(".panel.panel-default").find("button[name='refresh']").click();

                            break

                        case "FAILED" :
                            $("#dialog-return").find(".modal-body").html("删除失败");
                            $("#dialog-return").modal("show");

                            $(".btn.btn-default.add-new-user-close").click();

                            $(".panel.panel-default").find("button[name='refresh']").click();

                            break
                    }
                },
                error: function (r) {

                    $("#dialog-return").find(".modal-body").html("网络错误");
                    $("#dialog-return").modal("show");

                    $(".panel.panel-default").find("button[name='refresh']").click();

                }

            });
    });

    function _formatter_light (value,row,index) {
        return value == 0 ? '开':'关';
    }

    function _formatter_temperature (value,row,index) {
        return value + "°C";
    }

    function _formatter_humidity (value,row,index) {
        return value + "%RH";
    }

    function _formatter_charge (value,row,index) {
        return value +"%";
    }

</script>

</body>
</html>
