<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>设备管理</title>
    <!-- Bootstrap Styles-->
    <link href="/style/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500"/>

    <!-- Custom Styles-->
    <link href="/style/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <!-- TABLE STYLES-->
    <link href="/javascript/dataTables/dataTables.bootstrap.css" rel="stylesheet"/>
    <link href="http://www.bootcss.com/p/buttons/css/buttons.css" rel="stylesheet"/>

    <!--datePicker-->
    <link href="/style/jquery-ui.css" rel="stylesheet"/>

    <link href="/style/font-awesome.css" rel="stylesheet"/>

    <script src="/javascript/jquery-1.11.1.min.js"></script>

    <!--datePicker-->
    <script src="/javascript/jquery-ui.js"></script>

    <script src="/javascript/bootstrap.min.js"></script>
    <script src="/javascript/jquery.backstretch.min.js"></script>
    <script src="/javascript/scripts.js"></script>

    <!-- Bootstrap Js -->
    <script src="/javascript/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="/javascript/jquery.metisMenu.js"></script>

    <script src="/javascript/custom-scripts.js"></script>

    <!--<script src="/javascript/jquery-1.11.1.min.js"></script>-->
    <script src="/javascript/bootstrap-table.min.js"></script>
    <script src="/javascript/bootstrap-table-zh-CN.js"></script>

    <!-- Custom Js -->
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "get",
                dataType:"json",
                url : "/console/faceconfig_management/search",

                success : function (r) {
                    switch (r.status){
                        case "SUCCEED" :
                            $("#detectURL").attr("href","http://"+r.serverIPandPort+"/console/face_detect");
                            break;
                        case "FAILED" :
                            $("#dialog-return").find(".modal-body").html("获取配置信息失败");

                            if(r.errorMessage != undefined){
                                $("#dialog-return").find(".modal-body").append("\n原因:"+r.errorMessage);
                            }

                            $("#dialog-return").modal("show");

                            break;
                    }
                },
                error : function (r) {

                }
            })

            $('#_table_user_search').bootstrapTable({
                method: 'get',
                url: "/console/device_management/getAll",
                striped: true,
                height:300,
                dataType: "json",
                pagination: true,
                queryParamsType: "limit",
                singleSelect: true,
                contentType: "application/x-www-form-urlencoded",
                pageSize: 10,
                pageNumber: 1,
                search: true,
                showColumns: true,
                showRefresh: true,
                sidePagination: "server", //服务端请求
                queryParams: function (params) {
                    return {
                        limit: params.limit,
                        offset: params.offset / params.limit,
                        search: $(".search").find("input").val()
                    };
                },
                responseHandler: function (res) {
                    $("#doAllCheckBtn").checked != $("#doAllCheckBtn").checked;

                    doallcheck();

                    return {
                        "rows": res.rows,
                        "total": res.total
                    };
                },
                onPostBody : function(){
                    adjustTableHeight($(".fixed-table-body"),20);//custom-script
                }
            });

            //初始化日历
            $("#datepicker_start").datepicker({
                dayNamesMin: ["日", "一", "二", "三", "四", "五", "六"],
                /* 每周从周一开始 */
                firstDay: 1,
                /* 区域化月名为中文习惯 */
                monthNames: ["1月", "2月", "3月", "4月", "5月", "6月",
                    "7月", "8月", "9月", "10月", "11月", "12月"],
                /* 月份显示在年后面 */
                showMonthAfterYear: true,
                /* 年份后缀字符 */
                yearSuffix: "年",
                /* 格式化中文日期
                （因为月份中已经包含“月”字，所以这里省略） */
                dateFormat: "yy-mm-dd"
            });
            $("#datepicker_end").datepicker({
                dayNamesMin: ["日", "一", "二", "三", "四", "五", "六"],
                /* 每周从周一开始 */
                firstDay: 1,
                /* 区域化月名为中文习惯 */
                monthNames: ["1月", "2月", "3月", "4月", "5月", "6月",
                    "7月", "8月", "9月", "10月", "11月", "12月"],
                /* 月份显示在年后面 */
                showMonthAfterYear: true,
                /* 年份后缀字符 */
                yearSuffix: "年",
                /* 格式化中文日期
                （因为月份中已经包含“月”字，所以这里省略） */
                dateFormat: "yy-mm-dd"
            });

        });
    </script>
    <!-- Custom Js -->




    <style>
        .fixed-table-body {
            overflow-x: auto;
            overflow-y: scroll;
            height: 450px;
            width: 100%;
        }

        .fixed-table-header {
            overflow-x: auto;
            clear:both;
        }

        /*table tbody {*/
            /*display:block;*/
            /*height:30em;*/
            /*overflow-y:scroll;*/
        /*}*/
        /*table thead, tbody tr {*/
            /*display:table;*/
            /*width:100%;*/
            /*table-layout:fixed;*/
        /*}*/
        /*table thead {*/
            /*width: calc( 100% - 1em )*/
        /*}*/
        table thead th{
            background:#275AB2;
        }
        thead{
            color:#FFFFFF;
        }

        .navbar-brand-right_{
            float:right;
        }
        .kv-avatar .krajee-default.file-preview-frame, .kv-avatar .krajee-default.file-preview-frame:hover {
            margin: 0;
            padding: 0;
            border: none;
            box-shadow: none;
            text-align: center;
        }

        .kv-avatar {
            display: inline-block;
        }

        .kv-avatar .file-input {
            display: table-cell;
            width: 213px;
        }

        .kv-reqd {
            color: red;
            font-family: monospace;
            font-weight: normal;
        }

        .center-vertical {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        .table th, .table td {
            text-align: center;
            vertical-align: middle !important;
        }

        th{
            padding-left: 0px !important;
            padding-right: 0px !important;
        }


        .search{
            padding-bottom: 1em;
        }

        .W180{width:180px;}
        .W150{width:150px;}
        .W150 {width:100px !important;}
        .W280{width:280px !important;}
        .W400{width:400px !important;}
        .W100 {width:100px !important;}
        .W30 {width:30px !important;}
    </style>
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <ul class="nav navbar-top-links navbar-brand-right_">
            <li><a href="#" id="logout"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
        </ul>
    </nav>
    <!--/. NAV TOP  -->

    <div id="nave_side">

    </div>

    <!--加载侧栏菜单-->
    <script>
        loadMenu();
    </script>

    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header" style="color: #FFFFFF;">
                        设备管理
                    </h1>
                </div>
            </div>
            <!-- /. ROW  -->

            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="_table_user_search" class="table table-striped table-bordered table-hover" data-toolbar="#toolbar">
                                    <thead>
                                    <tr>
                                        <th data-field="id" class="W30" data-formatter="_formatte_user_id"><input id="doAllCheckBtn" type="checkbox" onclick="doallcheck(this)"></th>
                                        <th data-field="imei_id" class="W100" style="border:none;">设备id</th>
                                        <th data-field="name"  class="W100" style="border:none;">设备名称</th>
                                        <th data-field="attributionOfDevice"  class="W100" style="border:none;">设备归属</th>
                                        <th data-field="organization_name" class="W100" style="border:none;">组织</th>
                                        <th data-field="addressOfDevice" class="W100" style="border:none;">设备安装地址</th>
                                        <th data-field="type" class="W100" style="border:none;">类型</th>
                                        <th data-field="level" class="W100" style="border:none;">等级</th>
                                        <th data-field="update_time"  class="W100" style="border:none;">修改时间</th>
                                    </tr>
                                    </thead>

                                </table>

                                <div id="toolbar">
                                    <button class="btn btn-primary open-add-new-user-dialog" data-toggle="modal">新增
                                    </button>
                                    <button class="btn btn-success open-update-use-dialog" data-toggle="modal">修改
                                    </button>
                                    <button class="btn btn-danger delete-employee-dialog">删除</button>
                                </div>
                            </div>


                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
            <!-- /. ROW  -->
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>

<!--//弹出框-->
<div id="dialog-visitor-management-update" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">设备管理 | <span id="dialog-visitor-management-update-title"></span></h4>
            </div>

            <div class="modal-body">
                <form role="form" class="form-horizontal add-new-user form-uploadfiles"
                      enctype="multipart/form-data"
                      method="POST">
                    <input type="text" style="display:none;" id="id" name="id"/>
                    <input type="text" style="display:none;" id="deviceId_old" name="deviceId_old"/>
                    <input type="text" style="display:none;" id="createTime" name="createTime"/>
                    <input type="text" style="display:none;" id="updateTime" name="updateTime"/>

                    <div class="row">
                        <div class="col-sm-12 ">
                            <div class="form-group">
                                <label for="mac_id" class="col-sm-4 control-label">设备Id</label>

                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="mac_id" name="mac_id"
                                           data-toggle="tooltip" data-placement="top" maxlength="30"
                                           required="required"/>
                                </div>

                                <div class="col-sm-1"></div>
                            </div>

                            <div class="form-group">
                                <label for="name" class="col-sm-4 control-label">设备名称</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="name" name="name"
                                           data-toggle="tooltip" data-placement="top" maxlength="30"
                                           required="required"/>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>

                            <div class="form-group">
                                <label for="attributionOfDevice" class="col-sm-4 control-label">设备归属</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="attributionOfDevice" name="attributionOfDevice"
                                           maxlength="30"/>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>

                            <div class="form-group">
                                <label for="organization_name" class="col-sm-4 control-label">组织</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="organization_name" name="organization_name"
                                           maxlength="30"/>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>

                            <div class="form-group">
                                <label for="addressOfDevice" class="col-sm-4 control-label">设备安装地址</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="addressOfDevice" name="addressOfDevice"
                                           maxlength="30"/>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>

                            <div class="form-group">
                                <label for="type" class="col-sm-4 control-label">类型</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="type" name="type"
                                           maxlength="30"/>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>

                            <div class="form-group">
                                <label for="level" class="col-sm-4 control-label">等级</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="level" name="level"
                                           maxlength="30"/>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9" style="text-align: right;padding-top: 20px;">
                            <button type="button" class="btn btn-primary add-new-user">保存</button>
                            <button type="button" class="btn btn-default add-new-user-close" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="dialog-return" class="modal fade" style="z-index:99999" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="mySmallModalLabel">提示</h4>
            </div>
            <div class="modal-body"></div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="mySmallModalLabel">提示</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer modal-footer-delete-confirm" style="display:none;">
                <button type="button" class="btn btn-danger btn-task-delete-confirm" data-dismiss="modal">确认</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade log-out-bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="log-out-mySmallModalLabel">提示</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer modal-footer-delete-confirm" style="display:none;">
                <button type="button" class="btn btn-danger btn-logout" data-dismiss="modal">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    var timeout_network = 3000;

    var contactsNameMap;

    window.flag;
    window.id;

    function _formatte_name(value,row,index) {
        if (value != undefined) {
            return '<a href="/console/trace_info?id=' + row.id + '&type=visitor">' + value + '</a>';
        }
    }

    // function _formatted_Time(value, row, index){
    //     return getFormmattedTime(value)
    // }

    $("#dialog-return").prop('scrollTop',0)

    !function ($) {
        $(document).on("click", "ul.nav li.parent > a > span.icon", function () {
            $(this).find('em:first').toggleClass("glyphicon-minus");
        });
        $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
    }(window.jQuery);

    $(window).on('resize', function () {
        if ($(window).width() > 768) $('#sidebar-collapse').collapse('show');
        else $('#sidebar-collapse').collapse('hide');

        $("#_table_user_search").bootstrapTable("resetView");

        //判断是否有滚动条
        if(document.body.scrollHeight > (window.innerHeight || document.documentElement.clientHeight)){
            $(".fixed-table-header").attr("margin-right","17px");
        } else {
            $(".fixed-table-header").attr("margin-right","0px");
        }
    });

    function doallcheck(e){
        var list = $("input[name='visitor_id']");

        for(i in list){
            list[i].checked = !list[i].checked;
        }
    }

    function _reset(from) {
        $("#show-process").empty();

        from[0].reset();

        _reset_input(from.find("input"));

        $("#choosedPic").attr("src","/images/default_avatar_male.jpg");
    }

    function _reset_input(input) {
        input.removeClass("alert-danger");
        input.tooltip('destroy');

    }

    function _set(el, message) {
        el.addClass("alert-danger");
        el.attr("title", message);
        el.tooltip('show');
    }

    $(".btn.btn-primary.open-add-new-user-dialog").click(function () {
        window.flag = 'add';

        _reset($(".form-horizontal.add-new-user"));

        $("#choosedPic").attr("src","/images/default_avatar_male.jpg");

        $("#dialog-visitor-management-update-title").html("新增");

        $("#dialog-visitor-management-update").modal("show");
    });

    $(".btn.btn-success.open-update-use-dialog").click(function () {
        window.flag = 'update'

        var id = new Array();

        var selectedBox = $("input[name='visitor_id']:checked");

        window.id = id;
        console.log('clicked update');

        for(var i = 0; i < selectedBox.length; i++){
            id.push( selectedBox[i].value );

            if(id.length > 2){
                break;
            }
        }

        console.log(id);

        if (id.length != 0) {
            if(id.length > 1){
                $("#dialog-return").find(".modal-body").html("请选择一个访客");
                $("#dialog-return").modal("show");

                return ;
            }

            _reset($(".form-horizontal.add-new-user"));


            $("#dialog-visitor-management-update-title").html("修改");

            $("#dialog-visitor-management-update").modal("show");

            // 读取用户选中的用户信息
            $.get("/console/device_management/get/" + id[0], null, function (r, status) {
                console.log(r);

                $("#dialog-visitor-management-update-title").html("修改");
                $("#dialog-visitor-management-update").modal("show");

                $("#dialog-visitor-management-update").find("input[id='deviceId_old']").val(r.mac_id);

                $("#dialog-visitor-management-update").find("input[id='mac_id']").val(r.mac_id);
                $("#dialog-visitor-management-update").find("input[id='id']").val(r.id);
                $("#dialog-visitor-management-update").find("input[id='name']").val(r.name);
                $("#dialog-visitor-management-update").find("input[id='attributionOfDevice']").val(r.attributionOfDevice);
                $("#dialog-visitor-management-update").find("input[id='organization_name']").val(r.organization_name);
                $("#dialog-visitor-management-update").find("input[id='addressOfDevice']").val(r.addressOfDevice);
                $("#dialog-visitor-management-update").find("input[id='type']").val(r.type);
                $("#dialog-visitor-management-update").find("input[id='level']").val(r.level);
                $("#dialog-visitor-management-update").find("input[id='createTime']").val(r.create_time);
                $("#dialog-visitor-management-update").find("input[id='updateTime']").val(r.update_time);

            });

        } else {
            $(".bs-example-modal-sm").find(".modal-body").html("请选中设备后操作");
            $(".bs-example-modal-sm").modal("show");
        }
    });

    function _set(el, message) {
        el.addClass("alert-danger");
        el.attr("title", message);
        el.tooltip('show');
    }

    $(".btn.btn-primary.add-new-user").click(function () {
        var startTime;
        var endTime;

        var isComplete = true;
        var isFormatted = true;

        //check input
        if ($("input[id='mac_id']").val() == "") {
            _set($("input[id='mac_id']"), "设备id");
            isComplete = false;
        }
        if ($("input[id='name']").val() == "") {
            _set($("input[id='name']"), "设备名称");
            isComplete = false;
        }
        if ($("input[id='attributionOfDevice']").val() == "") {
            _set($("input[id='attributionOfDevice']"), "设备归属");
            isComplete = false;
        }
        if ($("input[id='organization_name']").val() == "") {
            _set($("input[id='organization_name']"), "组织");
            isComplete = false;
        }
        if ($("input[id='addressOfDevice']").val() == "") {
            _set($("input[id='addressOfDevice']"), "设备安装地址");
            isComplete = false;
        }
        if ($("input[id='type']").val() == "") {
            _set($("input[id='type']"), "类型");
            isComplete = false;
        }
        if ($("input[id='level']").val() == "") {
            _set($("input[id='level']"), "等级");
            isComplete = false;
        }

        // if(isComplete) {
        //     _reset_input( $("#dialog-visitor-management-update").find(".form-group").find("input") );
        //
        //     if ( !isName($("input[id='personName']").val()) ) {
        //         // _set($("input[id='personName']"), "请输入包含中文，英文，数字和-，空格的名字");
        //
        //         _set($("input[id='personName']"), "请将输入长度限制在20个字符以内");
        //         isFormatted = false;
        //     }
        //
        //     if( $("#IDType").val() == 'id' ) {
        //         if (!isIDNumber($("input[id='IDNumber']").val())) {
        //             _set($("input[id='IDNumber']"), "请输入合法身份证号");
        //             isFormatted = false;
        //         }
        //     }
        //
        //     if ( !isPhoneNumber($("input[id='phoneNumber']").val()) ) {
        //         _set($("input[id='phoneNumber']"), "请输入合法电话号码");
        //         isFormatted = false;
        //     }
        //
        //
        //     if(isFormatted) {
        //
        //         // startTime = $("input[id='datepicker_start']").val();
        //         // endTime = $("input[id='datepicker_end']").val();
        //         //
        //         // console.log("startTime: " + startTime);
        //         // console.log("endTime: " + endTime);
        //
        //         // var start_time = startTime.replace(/-/, "");
        //         // var end_time = endTime.replace(/-/, "");
        //         //
        //         // if (end_time < start_time) {
        //         //     _set($("input[id='datepicker_start']"), "结束时间需小于开始时间");
        //         //     _set($("input[id='datepicker_end']"), "结束时间需小于开始时间");
        //         //
        //         //     isComplete = false;
        //         //     return;
        //         // }
        //
        //         var flag_ = window.flag;
        //         console.log(window.flag);
        //
        //
        //         var form = new FormData();
        //
        //         var file = $("#avatar-2")[0].files[0];
        //         console.log(file);
        //         form.append("file", file);
        //
        //         if (window.flag == "update") {
        //             form.append("personID", window.id);
        //             form.append("version", $("input[id='version']").val());
        //
        //             console.log($("input[id='version']").val());
        //         }
        //
        //         form.append("personName", $("input[id='personName']").val());
        //         form.append("IDNumber", $("input[id='IDNumber']").val());
        //         form.append("phoneNumber", $("input[id='phoneNumber']").val());
        //         form.append("title", $("input[id='title']").val());
        //
        //         $.ajax({
        //             url: "/console/visitor_management/" + flag,
        //             timeout : timeout_network,
        //             type: "post",
        //             data: form,
        //             processData: false,
        //             contentType: false,
        //             success: function (r) {
        //                 switch (r.status) {
        //                     case "SUCCEED" :
        //                         var message;
        //                         if (flag_ == 'add') {
        //                             message = "新增成功";
        //                         } else {
        //                             message = "修改成功";
        //                         }
        //
        //                         $("#dialog-return").find(".modal-body").html(message);
        //                         $("#dialog-return").modal("show");
        //
        //                         $(".btn.btn-default.add-new-user-close").click();
        //                         $(".panel.panel-default").find("button[name='refresh']").click();
        //
        //                         break
        //
        //                     case "FAILED" :
        //                         if (flag_ == 'add') {
        //                             message = "新增失败";
        //                         } else {
        //                             message = "修改失败";
        //                         }
        //
        //                         $("#dialog-return").find(".modal-body").html(message);
        //
        //                         if(r.message != undefined){
        //                             $("#dialog-return").find(".modal-body").append("\n原因:"+r.message);
        //                         }
        //
        //                         $("#dialog-return").modal("show");
        //
        //                         $(".btn.btn-default.add-new-user-close").click();
        //
        //                         break
        //                 }
        //             },
        //             error: function (r) {
        //                 $("#dialog-return").find(".modal-body").html("网络错误");
        //                 $("#dialog-return").modal("show");
        //             }
        //
        //         });
        //
        //         form = '';//避免重复点击
        //     }
        // }

        var flag_ = window.flag;
        console.log(window.flag);


        var form = new FormData();

        if(flag_ == "update") {
            form.append("id", $("input[id='id']").val());
        } else {
            form.append("id", 0);
        }
        form.append("mac_id", $("input[id='mac_id']").val());
        form.append("name", $("input[id='name']").val());
        form.append("attributionOfDevice", $("input[id='attributionOfDevice']").val());
        form.append("organization_name", $("input[id='organization_name']").val());
        form.append("addressOfDevice", $("input[id='addressOfDevice']").val());
        form.append("type", $("input[id='type']").val());
        form.append("level", $("input[id='level']").val());
        form.append("deviceId_old", $("input[id='deviceId_old']").val());
        form.append("updateTime", $("input[id='updateTime']").val());

        getFormmattedTime($("input[id='createTime']").val())

        form.append("createTime", getFormmattedTime( $("input[id='createTime']").val() ) );


        $.ajax({
            url: "/console/device_management/" + flag,
            timeout : timeout_network,
            type: "post",
            data: form,
            processData: false,
            contentType: false,
            success: function (r) {
                switch (r.status) {
                    case "SUCCEED" :
                        var message;
                        if (flag_ == 'add') {
                            message = "新增成功";
                        } else {
                            message = "修改成功";
                        }

                        $("#dialog-return").find(".modal-body").html(message);
                        $("#dialog-return").modal("show");

                        $(".btn.btn-default.add-new-user-close").click();
                        $(".panel.panel-default").find("button[name='refresh']").click();

                        break

                    case "FAILED" :
                        if (flag_ == 'add') {
                            message = "新增失败";
                        } else {
                            message = "修改失败";
                        }

                        $("#dialog-return").find(".modal-body").html(message);

                        if(r.message != undefined){
                            $("#dialog-return").find(".modal-body").append("\n原因:"+r.message);
                        }

                        $("#dialog-return").modal("show");

                        $(".btn.btn-default.add-new-user-close").click();

                        break
                }
            },
            error: function (r) {
                $("#dialog-return").find(".modal-body").html("网络错误");
                $("#dialog-return").modal("show");
            }

        });

        form = '';//避免重复点击

    });

    function isName(val){//包括中文和英文数字-
        // var reg = /^([\u4E00-\uFA29]|[\uE7C7-\uE7F3]|[a-zA-Z0-9_-]){1,20}$/;
        //
        // return reg.test(val);

        if(val.length > 20){
            return false;
        } else {
            return true;
        }
    }
    function isPersonName(val){
        reg = /^[\u4E00-\u9FA5]{2,4}$/;//姓名在2-4个字符之间

        return val.match(reg);

    }
    function isIDNumber(val) {
        // 身份证号码为15位或者18位，15位时全为数字，18位前17位为数字，最后一位是校验位，可能为数字或字符X
        var reg = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
        // if(reg.test(card) === false)
        // {
        //     alert("身份证输入不合法");
        //     return false;
        // }

        return val.match(reg);
    }
    function isPhoneNumber(val){
        var isPhone = /^([0-9]{3,4}-)?[0-9]{7,8}$/;//手机号码
        var isMob= /^0?1[3|4|5|8][0-9]\d{8}$/;// 座机格式
        if(isMob.test(val)||isPhone.test(val)){
            return true;
        }
        else{
            return false;
        }
    }

    function isPic(picture){
        return (/\.(jpg|jpeg|png)$/).test(picture);
    }

    $("#logout").click(function () {
        $(".log-out-bs-example-modal-sm").find(".modal-body").html("确认退出系统？");
        $(".log-out-bs-example-modal-sm").find(".modal-footer-delete-confirm").css("display", "");
        $(".log-out-bs-example-modal-sm").modal("show");
    });

    $(".btn.btn-danger.btn-logout").click(function () {
        window.location.href = "/logout";
    })

    $(".btn.btn-danger.btn-task-delete-confirm").click(function () {
        console.log('clicked the delete');

        var list_id = new Array();

        var selectedBox = $("input[name='visitor_id']:checked");

        for(var i = 0; i <  selectedBox.length; i++){
            list_id.push( parseInt(selectedBox[i].value) );
        }

        console.log(list_id);

        var form = new FormData();

        form.append("list_ID", list_id);

        $.ajax({
            url: "/console/device_management/delete",
            timeout : timeout_network,
            type: "post",
            data: form,
            processData: false,
            contentType: false,
            success: function (r) {
                switch (r.status) {
                    case "SUCCEED" :
                        $("#dialog-return").find(".modal-body").html("删除成功");

                        $("#dialog-return").modal("show");

                        $(".btn.btn-default.add-new-user-close").click();
                        $(".panel.panel-default").find("button[name='refresh']").click();

                        break

                    case "FAILED" :
                        $("#dialog-return").find(".modal-body").html("删除失败");

                        if(r.message != undefined){
                            $("#dialog-return").find(".modal-body").append("\n原因:"+r.message);
                        }

                        $("#dialog-return").modal("show");

                        $(".panel.panel-default").find("button[name='refresh']").click();

                        break
                }
            },
            error: function (r) {

                $("#dialog-return").find(".modal-body").html("网络错误");
                $("#dialog-return").modal("show");
            }

        });
    })

    $(".btn.btn-danger.delete-employee-dialog").click(function () {
        var selectedBox = $("input[name='visitor_id']:checked");

        var id = new Array();

        for(var i = 0; i < selectedBox.length; i++){
            id.push(selectedBox[i].value);
        }

        if (id.length > 0) {
            $(".bs-example-modal-sm").find(".modal-body").html("是否删除访客?</br>");

            for(var i = 0; i < id.length; i++){
                $(".bs-example-modal-sm").find(".modal-body").append("</br>"+contactsNameMap.get( parseInt(id[i]) ));
            }

            $(".bs-example-modal-sm").find(".modal-footer-delete-confirm").css("display", "");
            $(".bs-example-modal-sm").modal("show");
        } else {
            $("#dialog-return").find(".modal-body").html("请选中访客后操作");
            $("#dialog-return").modal("show");
        }
    })

    function _formatte_locale_image(value, row, index) {
        var imgSrc = value;

        if(value == ""){
            imgSrc = "/images/default_avatar_male.jpg";

            return s = '<a class = "view"  href="javascript:void(0)"><img style="height:140px;border-radius:20%"  src=' + imgSrc+' /></a>';
        }

        var s = '<a class = "view"  href="javascript:void(0)"><img style="height:140px;border-radius:20%"  src="' + imgSrc+"&t="+Math.random() +'" /></a>';

        return s;
    }

    function _formatte_user_id(value, row, index) {
        if(index == 0){
            contactsNameMap = new Map();
        }

        contactsNameMap.set(value,row.name);

        return '<input name="visitor_id" type="checkbox" value="' + value + '" />';
    }

    $("#avatar-2").change(function (event) {
        $(".btn.btn-primary.add-new-user").attr({ disabled: "disabled" });

        $("#show-process").empty();
        $("#show-process").append("检查中........");

        var isComplete = false;

        var file = event.target.files[0];

        if(!isPic(file.name)){
            $("#show-process").empty();
            $("#show-process").append("请选择以,jpg,jpeg,png结尾的图片");

            $("#avatar-2").val('');

            $("#choosedPic").attr('src',src="/images/default_avatar_male.jpg");

            $(".btn.btn-primary.add-new-user").removeAttr("disabled");

            return;
        }

        if(file.size > 1024*1024*8){
            $("#show-process").empty();
            $("#show-process").append("图片大小不能超过 8MB!");

            $("#avatar-2").val('');

            $("#choosedPic").attr('src',src="/images/default_avatar_male.jpg");

            $(".btn.btn-primary.add-new-user").removeAttr("disabled");

            return;
        }

        var form = new FormData();

        form.append("file", file);

        $.ajax({
            url : "/console/employee_management/detect",
            timeout : timeout_network,
            type: "post",
            data: form,
            processData: false,
            contentType: false,

            success : function (res) {
                $("#dialog-return-show-process").modal('hide');

                switch (res.status){
                    case "SUCCEED" :
                        $("#show-process").empty();

                        isComplete = true;

                        break;
                    case "FAILED" :
                        if(res.errorMessage != undefined){
                            $("#show-process").empty();
                            $("#show-process").append(res.errorMessage+"，请重新选择照片");

                            //$("#dialog-return").find(".modal-body").html(res.errorMessage+"，请重新选择照片");
                        } else {
                            $("#show-process").empty();
                            $("#show-process").append("请检查您的照片");

                            //$("#dialog-return").find(".modal-body").html("请检查您的照片");
                        }

                        //$("#dialog-return").modal("show");

                        $("#avatar-2").val('');

                        return;
                }
            },
            error : function(){
                $("#dialog-return").find(".modal-body").html("网络错误，请重试");

                $("#dialog-return").modal("show");

                $("#avatar-2").val('');

                return;
            },

            complete: function () {
                $(".btn.btn-primary.add-new-user").removeAttr("disabled");

                $("#dialog-return-show-process").modal('hide');

                if(isComplete) {

                    var URL = window.URL || window.webkitURL;

                    var imgURL = URL.createObjectURL(file);

                    $("#choosedPic").attr('src', src = imgURL);

                    console.log(imgURL);
                }
            },

        });
        // $.ajax({
        //     url : "/console/employee_management/detect",
        //     async : false,
        //     data: form,
        //     type : "POST",
        //     success : function (res) {
        //         switch (res.status){
        //             case "SUCCEED" :
        //
        //                 break;
        //             case "FAILED" :
        //                 $("#dialog-return").find(".modal-body").html(r.message);
        //
        //                 $("#dialog-return").modal("show");
        //
        //                 return ;
        //                 break;
        //         }
        //     },
        //     error : function(){
        //         $("#dialog-return").find(".modal-body").html("网络错误，请重试");
        //
        //         $("#dialog-return").modal("show");
        //
        //         return ;
        //     }
        // })
    })

    $(".btn.btn-default.deletePic").click(function () {
        var file_select = $("#avatar-2");

        file_select.after(file_select.clone().val(""));

        file_select.remove();

        $("#choosedPic").attr('src', src = "/images/default_avatar_male.jpg");
    })
</script>

</body>
</html>
