<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SOFTWARE</title>
    <!-- Bootstrap Styles-->
    <link href="/style/bootstrap.css" rel="stylesheet"/>
    <!--<link href="style/bootstrap.css" rel="stylesheet"/>-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500"/>

    <!-- Morris Chart Styles-->

    <!-- Custom Styles-->
    <link href="/style/custom-styles.css" rel="stylesheet"/>
    <!--<link href="style/custom-styles.css" rel="stylesheet"/>-->
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <!-- TABLE STYLES-->
    <link href="/javascript/dataTables/dataTables.bootstrap.css" rel="stylesheet"/>
    <!--<link href="javascript/dataTables/dataTables.bootstrap.css" rel="stylesheet"/>-->
    <link href="http://www.bootcss.com/p/buttons/css/buttons.css" rel="stylesheet"/>

    <link href="/style/font-awesome.css" rel="stylesheet"/>
    <!--<link href="style/font-awesome.css" rel="stylesheet"/>-->

    <script src="/javascript/jquery-1.11.1.min.js"></script>
    <!--<script src="javascript/jquery-1.11.1.min.js"></script>-->
    <script src="/javascript/bootstrap.min.js"></script>
    <!--<script src="javascript/bootstrap.min.js"></script>-->
    <script src="/javascript/jquery.backstretch.min.js"></script>
    <!--<script src="javascript/jquery.backstretch.min.js"></script>-->
    <script src="/javascript/scripts.js"></script>
    <!--<script src="javascript/scripts.js"></script>-->

    <!-- Bootstrap Js -->
    <script src="/javascript/bootstrap.min.js"></script>
    <!--<script src="javascript/bootstrap.min.js"></script>-->
    <!-- Metis Menu Js -->
    <script src="/javascript/jquery.metisMenu.js"></script>
    <!--<script src="javascript/jquery.metisMenu.js"></script>-->

    <!-- DATA TABLE SCRIPTS -->
    <script src="/javascript/jquery.dataTables.js"></script>
    <!--<script src="javascript/jquery.dataTables.js"></script>-->
    <script src="/javascript/dataTables.bootstrap.js"></script>
    <!--<script src="javascript/dataTables.bootstrap.js"></script>-->
    
    <script src="/javascript/custom-scripts.js"></script>
    
    <!--<script src="/javascript/jquery-1.11.1.min.js"></script>-->
    <script src="/javascript/bootstrap-table.min.js"></script>
    <style>
        .navbar-brand-right_{
            float:right;
        }
        .center-vertical {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        .table th, .table td {
            text-align: center;
            vertical-align: middle !important;
        }

        .search{
            padding-bottom: 1em;
        }
    </style>
</head>
<body>

<script>

    $(document).ready(function() {
        var deviceId = getUrlParam("deviceId");

        console.log('Ready function');

        $.ajax({
            type: "get",
            url: "/console/deviceInfo/getDeviceInfo_detail",
            dataType:"json",
            data : {
                deviceId : deviceId
            },
            success : function(r) {
                switch (r.status){
                    case "SUCCEED" :
                        $("#config-info").find("input[id='deviceId']").val(r.deviceInfo.imei_id);
                        $("#config-info").find("input[id='name']").val(r.deviceInfo.name);
                        // $("#config-info").find("input[id='serverIP']").val(r.serverIP);
                        $("#config-info").find("input[id='attributionOfDevice']").val(r.deviceInfo.attributionOfDevice);
                        $("#config-info").find("input[id='organizationId']").val(r.deviceInfo.organizationId);
                        $("#config-info").find("input[id='addressOfDevice']").val(r.deviceInfo.addressOfDevice);
                        $("#config-info").find("input[id='times']").val(r.deviceInfo.times);
                        $("#config-info").find("input[id='signalIntensity']").val(r.deviceInfo.signalIntensity);
                        $("#config-info").find("input[id='statusOfCharge']").val(r.deviceInfo.statusOfCharge+"%");

                        $("#config-info").find("input[id='statusOfLight']").val(r.deviceInfo.statusOfLight==0?'开':'关');

                        $("#config-info").find("input[id='temperature']").val(r.deviceInfo.temperature+"°C");
                        $("#config-info").find("input[id='humidity']").val(r.deviceInfo.humidity+"%RH");

                        console.log('get message : '+ r.id);

                        break;
                    case "FAILED" :
                        $("#dialog-return").find(".modal-body").html("获取配置信息失败");

                        if(r.errorMessage != undefined){
                            $("#dialog-return").find(".modal-body").append("\n原因:"+r.errorMessage);
                        }

                        $("#dialog-return").modal("show");

                        break;
                }
            },
            error : function () {
                $("#dialog-return").find(".modal-body").html("获取配置信息失败---网络错误");
                $("#dialog-return").modal("show");
            }
        });

        // if( $(window).height() >= 807 ){
        //     $(".panel-body").height( ( $(window).height()-807 ) + 600 );
        // } else {
        //     $(".panel-body").height( ( 600 - ( 807 - $(window).height() ) )  );
        // }
    });
</script>

<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <ul class="nav navbar-top-links navbar-brand-right_">
            <li><a href="#" id="logout"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
        </ul>

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"> <strong> &nbsp &nbsp &nbsp SOFTWARE</strong></a>
        </div>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <!--管理员信息-->
                <li>
                    <div style="display: table; width: auto; margin-left: auto;margin-right: auto">

                        <img src="/style/images/avtar.png">

                        <!--<div>-->
                        <!--<label id="adminName" style="alignment: center"></label>-->
                        <!--</div>-->

                        <!--<div>-->
                        <!--<label id="adminEmail" style="alignment: center"></label>-->
                        <!--</div>-->
                    </div>
                    <br>
                </li>

                <!--设备信息-->
                <li>
                    <a href="/console/device_info"><i class="fa fa-sitemap"></i> 设备信息</span></a>
                </li>
                <!--设备管理-->
                <li>
                    <a href="/console/device_management"><i class="fa fa-sitemap" ></i> 设备管理</span></a>
                </li>

                <!--配置-->
                <li>
                    <a href="/console/config"><i class="fa fa-sitemap"></i> 配置<span class="fa arrow"></span></a>
                </li>

            </ul>

        </div>

    </nav>

    <!-- /. NAV SIDE  -->

    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header" style="color: #FFFFFF;">
                        设备详情
                    </h1>
                </div>
            </div>
            <!-- /. ROW  -->

            <!--基本信息-->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="display:none;"><span class="glyphicon glyphicon-user"></span>Config Info</div>
                        <div id="config-info" class="panel-body">
                            <form class="form-horizontal form-profile-save" method="post">
                                <fieldset>
                                    <input type="text" style="display:none;" id="id" name="id" />
                                    <input type="text" style="display:none;" id="version" name="version" />

                                    <div class="form-group">
                                        <label for="deviceId" class="col-sm-3 control-label">设备id</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="deviceId" name="imageDBName" maxlength="30" readonly />
                                        </div>
                                        <div class="col-sm-4"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="col-sm-3 control-label">设备名称</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="name" name="name" maxlength="30" readonly />
                                        </div>
                                        <div class="col-sm-4"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="attributionOfDevice" class="col-sm-3 control-label">设备归属</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="attributionOfDevice" name="attributionOfDevice" maxlength="30" readonly />
                                        </div>
                                        <div class="col-sm-4"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="organizationId" class="col-sm-3 control-label">组织</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="organizationId" name="organizationId" maxlength="30" readonly />
                                        </div>
                                        <div class="col-sm-4"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="addressOfDevice" class="col-sm-3 control-label">设备安装地址</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="addressOfDevice" name="addressOfDevice" maxlength="30" readonly />
                                        </div>
                                        <div class="col-sm-4"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="times" class="col-sm-3 control-label">信息计数</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="times" name="times" maxlength="30" readonly />
                                        </div>
                                        <div class="col-sm-4"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="signalIntensity" class="col-sm-3 control-label">信号强度</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="signalIntensity" name="signalIntensity" maxlength="30" readonly />
                                        </div>
                                        <div class="col-sm-4"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="statusOfCharge" class="col-sm-3 control-label">电池电量</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="statusOfCharge" name="statusOfCharge" maxlength="30" readonly />
                                        </div>
                                        <div class="col-sm-4"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="statusOfLight" class="col-sm-3 control-label">灯开关状态</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="statusOfLight" name="statusOfLight" maxlength="30" data-formatter="_formmater_light" readonly />
                                        </div>
                                        <div class="col-sm-4"></div>
                                    </div>


                                    <div class="form-group">
                                        <label for="humidity" class="col-sm-3 control-label">室内湿度</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="humidity" name="humidity" maxlength="30" readonly />
                                            
                                        </div>
                                        <div class="col-sm-4">
                                            <button  class="btn btn-primary btn-humidity" onclick="toHumidityDetail();return false;">查看详情</button>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                            <label for="temperature" class="col-sm-3 control-label">室内温度</label>
                                            <div class="col-sm-5">
                                                <input type="text" class="form-control" id="temperature" name="temperature" maxlength="30" readonly />
                                                
                                            </div>
                                            <div class="col-sm-4">
                                                <button  class="btn btn-primary btn-temperature" onclick="toTemperatureDetail();return false;">查看详情</button>
                                            </div>
                                        </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div><!--/.col-->
            </div>
            <!-- /. ROW  -->
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>

<div id="dialog-return" class="modal fade" style="z-index:99999" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="mySmallModalLabel">提示</h4>
            </div>
            <div class="modal-body"></div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">提示</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer modal-footer-delete-confirm" style="display:none;">
                <button type="button" class="btn btn-danger btn-task-delete-confirm" data-dismiss="modal">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade log-out-bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="log-out-mySmallModalLabel">提示</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer modal-footer-delete-confirm" style="display:none;">
                <button type="button" class="btn btn-danger btn-logout" data-dismiss="modal">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    var timeout_network = 3000;

    !function ($) {
        $(document).on("click","ul.nav li.parent > a > span.icon", function(){
            $(this).find('em:first').toggleClass("glyphicon-minus");
        });
        $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
    }(window.jQuery);

    $(window).on('resize', function () {
        if ($(window).width() > 768) $('#sidebar-collapse').collapse('show');
        else $('#sidebar-collapse').collapse('hide');

        // if( $(window).height() >= 807 ){
        //     $(".panel-body").height( ( $(window).height()-807 ) + 600 );
        // } else {
        //     $(".panel-body").height( ( 600 - ( 807 - $(window).height() ) )  );
        // }
    });

    function _reset_input(input) {
        input.removeClass("alert-danger");
        input.tooltip('destroy');
    }

    function _formmater_light(value){
        return value=0?'开':'关';
    }

    function _set(el, message) {
        el.addClass("alert-danger");
        el.attr("title", message);
        el.tooltip('show');
    }

    $("#logout").click(function () {
        $(".log-out-bs-example-modal-sm").find(".modal-body").html("确认退出系统？");
        $(".log-out-bs-example-modal-sm").find(".modal-footer-delete-confirm").css("display", "");
        $(".log-out-bs-example-modal-sm").modal("show");
    });

    $(".btn.btn-danger.btn-logout").click(function () {
        window.location.href = "/logout";
    });

    $(".btn-task-delete-confirm").click(function () {

        var data = $(".form-horizontal.form-profile-save").serializeArray();
        $.post("/console/faceconfig_management/save", data, function (r, status) {
                    switch (r.status) {
                        case "SUCCEED" :
                            $("#dialog-return").find(".modal-body").html("保存修改成功");
                            $("#dialog-return").modal("show");

                            break;
                        case "FAILED" :
                            var message = "保存修改失败";


                            if (r.message != undefined) {
                                message = message + "\n原因：" + r.message;
                            }

                            $("#dialog-return").find(".modal-body").html(message);
                            $("#dialog-return").modal("show");

                            break
                    }

                    if (r.status == "SUCCEED") {

                        $('#dialog-return').on('hidden.bs.modal', function (e) {
                            location.reload();
                        });
                    } else {
                        if (r.message.username) {
                            _set($(".form-horizontal.form-profile-save").find("input[id='username']"), r.message.username);
                        }

                        if (r.message.WARNING) {
                            $(".bs-example-modal-sm").find(".modal-body").html(r.message.WARNING);
                            $(".bs-example-modal-sm").modal("show");
                        }
                    }
                });
    });

    function toTemperatureDetail (){
        window.location.href = "/console/temperature_detail?deviceId=" + getUrlParam("deviceId");
    }

    function toHumidityDetail (){
        window.location.href = "/console/humidity_detail?deviceId=" + getUrlParam("deviceId");
    }
</script>

</body>
</html>
