<div>
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <!--管理员信息-->
                <li>
                    <div style="display: table; width: auto; margin-left: auto;margin-right: auto">

                        <img src="/style/images/avtar.png">

                    </div>
                    <br>
                </li>

                <!--设备管理-->
                <li class="primaryMenu">
                    <a href="/console/device_management"><i class="fa fa-sitemap" ></i> 设备管理</a>
                </li>

                <!--用户管理-->
                <li class="primaryMenu">
                    <a href="/console/user_management"><i class="fa fa-sitemap"></i> 用户管理</a>
                </li>
    
                <!--配置-->
                <li class="primaryMenu">
                    <a href="/console/config"><i class="fa fa-sitemap"></i> 配置</a>
                </li>
            </ul>

        </div>

    </nav>
</div>